.container-window{
  display: flex;
  flex-direction: column;
}

.container-main{
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}

.container-image{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  /* width: 500px; */
}

.container-data{
  border: 2px solid black;
  padding: 10px;
}

.btns{
  visibility: hidden;
  /* align-self: center; */
  margin-right: 5px;
  margin-left: 5px;
}

.card-image{
  height: 310px;
  width: 223px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.collection-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.wishlist-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.add-wishlist{
  display: flex;
  order: 1;
}

.add-collection{
  display: flex;
  order: 1;
}
