.container-window{
  display: flex;
  flex-direction: column;
}

.container-main{
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}

.container-image{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.container-data{
  border: 2px solid black;
  padding: 10px;
  width: 500px;
}

.btns{
  visibility: hidden;
  margin-right: 5px;
  margin-left: 5px;
}

.card-image{
  height: 310px;
  width: 223px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.collection-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.wishlist-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

.container-form{
  display: flex;
  justify-content: space-between;
}

.qty{
  padding: 10px;
  padding-top: 70px;
}
